<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="default-src 'self'; script-src 'sha512-NqIr5ziC/poXkDQ3ZKssL4GmDfzERJ6He+VXO9PDWAiE9tp2sGMJvcOmuxj/b6BD3RWoi0ePkL52/EyhDiJLmQ==' 'sha512-RXRHhu5O/7je3gyQMWwkPE08dVWmzAZp6uTssJbYO2qfo4bF6jPHsqxyMZdmi+4uOAUu5oSdXlpue9XblcMR7A==' 'sha512-T0bcKoi/hQlsjVBn+6DnbA/i5/ktAoUVcS36jExDX9lCP0o1UnfFtHsjeFfqogc2jXqeykx5PNO3WIbrb7dXow==';" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
