<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="default-src 'self'; script-src 'nonce-NqIr5ziC' 'nonce-RXRHhu5O';" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
